.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.i-loader-inf-horizontal-container {
    width: 256px;
    text-align: center;
}

.i-loader-inf-horizontal-container span {
    color: #ffffff;
    font-family: sans-serif;
    animation: loader-inf-message-pulse 2s infinite;
}

.i-loader-inf-horizontal {
  width: 100%;
  height: 18px;
  background: linear-gradient(#a729f5 0 0) 0/0% no-repeat#ddd;
  border-radius: 4px;
  animation: loader-inf 2s infinite linear;
}

@keyframes loader-inf {
    100% {background-size:100%}
}

@keyframes loader-inf-message-pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pt-8px {
    padding-top: 8px;
}